*{
    margin:0;
    
}

body {
    
}

.WelcomeText{
    color:red;
}


.homeImg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 300px;
    margin-bottom: 50px
}

ul{
    list-style:none;
    text-decoration:none;
}

li{
    float:left;
    margin:15px

}

ul li a{
    text-decoration:none;
    font-weight:bold;
    color:#000000;
    transition:1s ease;
}

a:hover {
    text-decoration: none;
    color: #638ccf;
    padding-left:5px;
    
}

p{
    color:darkslategray;
}


.rightHome{
    padding-left:1000px;
}