
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<h2 class="WelcomeText">Welcome to Homepage</h2>




<ul>
    <li>
        <a href="~/Home/About">About</a>
    </li>
    <li>
        <a href="~/Home/Services">Services</a>
    </li>
    <li>
        <a href="~/Home/Contactus">Contactus</a>
    </li>
</ul>


<img class="homeImg" src="~/Images/unnamed.jpg">    